<%- include('partials/header') %>
<%- include('partials/navbar') %>

<div class="container">
    <br>
    <h1><%= pergunta.titulo %></h1>
    <p><%= pergunta.descricao %></p>
</div>

<%- include('partials/footer') %>